@import "tailwindcss";
/* @tailwind components; */
/* @tailwind utilities; */

@layer base {
  body {
    /* @apply font-sans antialiased; */
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass-effect {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .dark .glass-effect {
    background: rgba(15, 23, 42, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.03);
  }

  .animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name-gradient {
  /* background: linear-gradient(to bottom right, #4f46e5, #9333ea, #db2777); */
  background: linear-gradient(
  to bottom right,
  #9d174d, /* rosewood */
  #7c2d12, /* warm rose-brown */
  #3f0d12  /* dark wine */
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

  .dark .name-gradient {
    /* background: linear-gradient(
      to bottom right,
      oklch(0.60 0.18 10),
      oklch(0.52 0.15 25),
      oklch(0.45 0.13 20)
    ); */
    background: linear-gradient(
      to bottom right,
      oklch(0.75 0.16 90),
      oklch(0.63 0.18 75),
      oklch(0.52 0.15 65)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }



/* .name-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(255,255,255,0.08),
    transparent 60%
  );
  pointer-events: none;
} */
